

body{
    margin: auto;
    margin-left: 10px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMmDXrn-5hjWZ3iLWqwilPWJ63EwgO-pL5ZnTSM0UBILx7thbIXs0za2KdvwZCeyuRef8&usqp=CAU);
    background-size: cover;
}

div{
    margin: auto;
    width: 60%;
    border: 0px solid black;
    text-align: center;
    margin-top: 10%;
    
}
a{

    font-weight: 600;
    color: red;
    font-size: 30px;
}

a:link{
      font-size: 10px;
      color: maroon;
}
a:visited{
    color:maroon;
    font-size: 2rem;
}
a:hover{
    background-color: blue;
    font-size: 3rem;
}
 